<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--
    说明：
    1. 文件的命名和加载顺序有关
       logback.xml早于application.yml加载，logback-spring.xml晚于application.yml加载
       如果logback配置需要使用application.yml中的属性，需要命名为logback-spring.xml
    2. logback使用application.yml中的属性
       使用springProperty才可使用application.yml中的值 可以设置默认值
    -->
    <springProperty scope="context" name="LOG_HOME" source="log.file.path" defaultValue="./log"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="basis"/>
    <!-- 日志输出级别 -->
    <springProperty scope="context" name="ROOT_LEVEL" source="log.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="BASIS_LEVEL" source="log.level.com.fengfan.basis" defaultValue="DEBUG"/>
    <springProperty scope="context" name="PATTERN" source="log.file.pattern" defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{traceID}] - [%thread] %-5level %logger{50}.%M\(%line\) - %msg%n"/>
    <!--日志保留天数-->
    <springProperty scope="context" name="MAXHISTORY" source="log.file.maxHistory" defaultValue="30"/>
    <!--单个日志文件最大容量-->
    <springProperty scope="context" name="MAXFILESIZE" source="log.file.maxFileSize" defaultValue="100MB"/>
    <!--日志文件总量-->
    <springProperty scope="context" name="TOTALSIZECAP" source="log.file.totalSizeCap" defaultValue="10GB"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%message：日志消息，%n是换行符-->
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}_%i.log.gz</fileNamePattern>
            <!--日志文件保留天数-->
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${MAXFILESIZE}</maxFileSize>
            <totalSizeCap>${TOTALSIZECAP}</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%message：日志消息，%n是换行符 -->
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!--打印完整SQL日志，需要配置为debug日志级别-->
    <logger name="com.apache.ibatis"/>
    <logger name="java.sql.Connection"/>
    <logger name="java.sql.Statement"/>
    <logger name="java.sql.PreparedStatement"/>

    <!--本地开发环境-->
    <springProfile name="dev">
        <root level="${ROOT_LEVEL}">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="com.fengfan.basis" level="${CN_LEVEL}"/>
    </springProfile>

    <!-- 生产环境 -->
<!--    <springProfile name="prod">-->
<!--        <root level="${ROOT_LEVEL}">-->
<!--            <appender-ref ref="STDOUT"/>-->
<!--            <appender-ref ref="FILE"/>-->
<!--        </root>-->
<!--        <logger name="com.fengfan.basis" level="${CN_LEVEL}"/>-->
<!--    </springProfile>-->

    <!-- 日志输出级别 -->
    <root level="${ROOT_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="com.fengfan.basis" level="${CN_LEVEL}"/>

</configuration>
